.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.cardContainer {
  grid-column: 6/8;
  grid-row: 1/2;
  background-color: #b6acac9a;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #fff;
  padding-top: 30px;
  width: 350px;
  max-width: 100%;
  text-align: center;
  margin: 3rem 0 0 0;
  position: relative;
}

.pro {
  color: #231e39;
  background-color: #febb0b;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.round {
  border: 1px solid #4c5010;
  border-radius: 50%;
  padding: 7px;
}

.primary {
  background-color: #a1eafb;
  border: 1px solid #f7e8e8;
  border-radius: 3px;
  color: #0c0101;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
  margin-right: 3px;
}

.ghost {
  background-color: transparent;
  color: #0c0101;
  border: 1px solid #f7e8e8;
  border-radius: 3px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
}

.userData {
  margin-top: 4rem;
}
.name {
  color: #6e6e38;
}

.txt {
  color: #0c0b0b7c;
}

.txtBtm {
  color: #6e6e38;
  margin-bottom: 3rem;
}

.para {
  margin-bottom: 40px;
}
/* .container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "leftTop rightTop"
    "leftMiddle rightMiddle"
    "leftBtm rightBtm";
}
.h1 {
  color: rgb(10, 10, 10);
  text-align: center;
  margin: 0 0 4rem 0;
  text-decoration: underline;
}
.emailLabel {
  color: rgb(24, 21, 21);
  grid-area: leftTop;
}
.emailData {
  grid-area: rightTop;
  color: rgb(141, 132, 132);
  font-weight: bolder;
}
.siteLabel {
  color: rgb(24, 21, 21);
  grid-area: leftMiddle;
}
.siteData {
  color: rgb(141, 132, 132);
  grid-area: rightMiddle;
}
.addressLabel {
  color: rgb(24, 21, 21);
  grid-area: leftBtm;
}
.addressData {
  color: rgb(141, 132, 132);
  grid-area: rightBtm;
} */
