@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Potta+One&display=swap");

@font-face {
  font-family: "GothamBook";
  src: url("/Gotham-Font/GothamBook.ttf");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "Nunito";
  min-height: 100%;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
  margin: 3rem auto;
  width: 100%;
}

.footer {
  padding: 0.5rem;
  background-color: #fcfcfc;
  color: #6e6e38;
  font-weight: bold;
  text-align: center;
}

.sidebar {
  height: 100vh;
  width: 250px;
  background-color: cornflowerblue;
  transition: transform 0.5s ease-out;
  transform: translateX(-100%);
  z-index: 1000000;
  position: fixed;
  top: 0;
}

.sidebar.open {
  transform: translateX(0);
}
