@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Potta+One&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "Nunito";
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
  margin: 3rem auto;
}

.footer {
  padding: 0.5rem;
  background-color: #fcfcfc;
  color: #6e6e38;
  font-weight: bold;
  text-align: center;
}
