@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Potta+One&display=swap");

@font-face {
  font-family: "GothamBook";
  src: url("/Gotham-Font/GothamBook.ttf");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "Nunito";
  min-height: 100%;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
  margin: 0rem auto;
  width: 100%;
}

.footer {
  padding: 0.5rem;
  background-color: #fcfcfc;
  color: #6e6e38;
  font-weight: bold;
  text-align: center;
}

/* SIDEBAR */

.sidebar {
  height: 100vh;
  width: 240px;
  background-color: cornflowerblue;
  transition: transform 0.5s ease-out;
  transform: translateX(-100%);
  z-index: 1000000;
  position: fixed;
  top: 0;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar .grid {
  display: grid;
  grid-template-columns: 45px 70px;
  row-gap: 30px;
  column-gap: 35px;
  grid-template-rows: auto;
  grid-template-areas: "left right";
  grid-auto-flow: row;
}
.sidebar .icon {
  margin-left: 30px;
  cursor: pointer;
}

.sidebar .nav-text {
  color: rgb(46, 42, 42);
  font-size: 1.1rem;
  cursor: pointer;
}

.sidebar .topLogo {
  display: grid;
  grid-template-columns: 45px 80px;
  justify-content: start;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 2.1rem;
  text-align: center;
  column-gap: 5px;
}

.sidebar .brandName {
  font-size: 1.4rem;
  color: wheat;
  letter-spacing: 0.1rem;
  line-height: 1.2;
  font-weight: bolder;
}

.sidebar .topLine {
  width: 100%;
  background-color: thistle;
  height: 2px;
  margin-bottom: 2rem;
}

.sidebar .btmLine {
  width: 100%;
  background-color: thistle;
  height: 1px;
  margin: 2rem 0 1rem 0;
}

.sidebar .sideBarLogin {
  text-align: left;
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-left: 1.9rem;
  color: wheat;
  font-weight: 700;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}
