.single {
  padding: 2px 16px;
  background: rgb(199, 177, 177);
  display: block;
  margin: 20px 10px;
  border-left: 8px solid #fff;
  min-width: 40vw;
  text-align: left;
}
.single:hover {
  border-left: 8px solid #4979ff;
}
