.sidebar {
  height: 100vh;
  width: 240px;
  background-color: cornflowerblue;
  transition: transform 0.5s ease-out;
  transform: translateX(-100%);
  z-index: 1000000;
  position: fixed;
  top: 0;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar .grid {
  display: grid;
  grid-template-columns: 45px 70px;
  justify-content: start;
  align-content: start;
  row-gap: 30px;
  column-gap: 35px;
}
.sidebar .icon {
  margin-left: 30px;
  cursor: pointer;
  margin-top: 20px;
}

.sidebar .nav-text {
  color: rgb(46, 42, 42);
  font-size: 1.1rem;
  cursor: pointer;
}

.sidebar .topLogo {
  display: grid;
  grid-template-columns: 45px 80px;
  justify-content: start;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 2.1rem;
  text-align: center;
  column-gap: 5px;
}

.sidebar .brandName {
  font-size: 1.4rem;
  color: wheat;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.sidebar .topLine {
  width: 100%;
  background-color: thistle;
  height: 2px;
  margin-bottom: 2rem;
}

.sidebar .btmLine {
  width: 100%;
  background-color: thistle;
  height: 1px;
  margin: 2rem 0 2rem 0;
}

.sidebar .cName {
  cursor: pointer;
}
